<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>Document</title>
</head>

<body>

    <th:block th:replace="~{fragments/fragment :: navbar}"></th:block>
    <div class="container">

        <h1> ecco il tuio ingrediente </h1>


        <!-- <p th:text="${pizza}"></p> -->
        <div class="card" style="width: 18rem;  " th:object="${ingredient}">
            <img th:src="*{image}" alt=[[*{name}]] class="card-img-top" style="max-width: 450px;">
            <div class="card-body">
                <h5 class="card-title"> [[*{name}]]</h5>
            </div>
        </div>




    </div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>